#outputsContainer{
    overflow-y: auto;
    width: 100vw;
    position: relative;//search bar position fix
}
.articleBoxWithFigures{
    width: 100%;
    margin-bottom: 3rem;
    @include flex(flex-start, flex-start, row)
}
.articleBox{
    flex-shrink: 1;
    flex-grow: 0;
    width: 65vw;
    z-index: -10;
    padding: 4rem 0;
    $padding: 4.5rem;
    @include normal-box();
    h2{
        line-height: 3.3rem;
        margin-bottom: 1rem;
        padding: 0 $padding;
    }
    .authors{
        font-size: 1.2rem;
        color: $color2;
        line-height: 1.2rem;
        margin-bottom: 2rem;
        padding: 0 $padding;
    }
    .journalBox{
        width: 100%;
        margin-bottom: 4rem;
    padding: 0.5rem calc(1rem + $padding);
        .journalName{
            font-size: 1.2rem;
            line-height: 1.4rem;
            font-style: italic;
            font-weight: bold;
        }
        .journalDetails{
            font-size: 1rem;
            line-height: 1rem;
            color: $color2;
            .year{
                font-weight: bold;
            }
        }
    }
    .abstract{
        padding: 0 $padding;
    }
}

.articleBoxWithFigures:hover{
    .articleBox{
        @include hover-box();
    }
}

.figures{
    margin-left: 1.5rem;
    flex: 1 1 0;
    @include flex(flex-start, flex-start, column);
    img{
        max-width: 30rem;
        width: 100%;
        outline: 0.1rem solid white;
        outline-offset: -0.1rem;
    }
}