@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Light.ttf);
  font-weight: lighter;
}
@font-face {
  font-family: HYWenHei;
  src: url(../fonts/HYWenHei-85W.ttf);
  font-weight: bold;
}
@font-face {
  font-family: HYWenHei;
  src: url(../fonts/HYWenHei-65W.ttf);
  font-weight: normal;
}
@font-face {
  font-family: HYWenHei;
  src: url(../fonts/HYWenHei-45W.ttf);
  font-weight: lighter;
}
@font-face {
  font-family: HYWenHei;
  src: url(../fonts/HYWenHei-45W.ttf);
  font-weight: thin;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", "HYWenHei", sans-serif;
  color: #212121;
}

body::-webkit-scrollbar {
  width: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p, li, a, label, input {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
}

.tranAniContatiner {
  background: #212121;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  pointer-events: none;
  overflow: hidden;
}
.tranAniContatiner svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

a.text_hover {
  position: relative;
  display: inline-block;
}

a.text_hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: -1;
  background-color: #B71C1C;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}

a.text_hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

.em {
  color: #B71C1C;
}

.time {
  font-weight: lighter;
  color: #B71C1C;
}

#sjtu_logo {
  width: 18rem;
}

#ds_logo {
  width: 7.5rem;
}

#lab_logo {
  width: 14.7rem;
}

header {
  width: 100%;
  margin: 0 0 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 8vh;
  min-height: 5.625rem;
  max-height: 8rem;
  width: 100%;
  background-color: #F7F7F7;
  position: fixed;
  top: 0;
  z-index: 11;
}
nav .LOGO {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex: 1 1 5.625rem;
  height: 100%;
}
nav .LOGO img {
  height: 100%;
}
nav .LOGO p {
  margin: 0 0 0 2rem;
  font-size: 2.5rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 5rem 0 0;
  text-align: center;
  font-weight: bold;
}
nav ul li {
  height: 100%;
  margin: 0 2rem;
  position: relative;
  padding: 0 0.3rem;
}
nav ul li ul.submenu {
  margin: 0 0;
  width: 15rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  font-weight: lighter;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  transition: transform 0.2s ease;
  padding-top: 4vh;
}
nav ul li ul.submenu li {
  padding: 0.5rem;
}
nav ul li#current {
  background-color: #E8F5E9;
}
nav ul li#current::before {
  z-index: -1;
  content: "";
  width: calc(100% + 2.5rem);
  height: 6vh;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-image: url(../images/icon/currentPageMarker.svg);
  background-size: cover;
  background-position: center;
}
nav ul li.deployable::after {
  content: url(../images/icon/icon_deployable.svg);
  position: absolute;
  transform: translate(-30%, 1rem);
  transition: transform 0.25s ease;
}
nav ul li.sub2:hover::after {
  --translateY: calc(4vh + 5rem + 2rem);
  transform: translate(-35%, var(--translateY));
}
nav ul li.sub3:hover::after {
  --translateY: calc(4vh + 10rem + 3.625rem);
  transform: translate(-90%, var(--translateY));
}

.container {
  overflow: hidden;
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.container .side_bar {
  flex: 0 0 8vh;
  width: 8vh;
  min-width: 5.625rem;
  max-width: 8rem;
  height: 100vh;
  background-color: white;
  border-right: 2px solid #F7F7F7;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.container .side_bar h1 {
  padding-top: 8vh;
  flex: 1 1 8vh;
  text-align: center;
  writing-mode: vertical-lr;
}
.container .side_bar img {
  flex: 0 0 8vh;
  width: 8vh;
  min-width: 5.625rem;
}
.container .content {
  height: 92vh;
  padding: 2.8rem 1.8rem 2.8rem calc(8vh + 1.8rem);
  transition: margin 0.4s ease;
}
.container #modelContainer {
  position: fixed;
  z-index: -3;
  width: 100vw;
  height: 100vh;
}

footer {
  position: fixed;
  width: 100vw;
  height: 10vh;
  z-index: 9;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0) 100%);
  padding: 0 1.5rem 0 calc(8vh + 1.5rem);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
footer img {
  margin: 0.8rem;
}
footer p {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 2rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

#footer_left {
  justify-content: flex-start;
}

.homepage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.homepage .news {
  overflow: visible;
  flex: 1 0 10rem;
  min-width: 3rem;
  margin: 0 1rem 0 1rem;
  transition: min-width 0.5s ease-in-out;
}
.homepage .news .img {
  width: 100%;
  height: 50vh;
  margin: 0;
  position: relative;
  display: inline-block;
}
.homepage .news .img img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage .news .img::before,
.homepage .news .img::after {
  content: "";
  opacity: 0.6;
  position: absolute;
  transition: opacity 0.5s ease 0.25s, width 0.5s ease-in-out;
}
.homepage .news .img::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #B71C1C;
  z-index: 1;
}
.homepage .news .img::after {
  content: url(../images/icon/icon_inactive.svg);
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.homepage .news .img:hover::before,
.homepage .news .img:hover::after {
  opacity: 0;
}
.homepage .news .text {
  margin: 1rem 0 0 0;
  padding: 2rem 0 0 1rem;
  width: 100%;
  border-left: 2px solid #B71C1C;
}
.homepage .news .text h2 {
  font-size: 1.25rem;
  font-weight: normal;
}
.homepage .news .text .optional {
  display: none;
}
.homepage .active {
  min-width: 52vw;
}
.homepage .active .img::before,
.homepage .active .img::after {
  content: "";
  opacity: 0;
}
.homepage .active .text {
  border: none;
  padding-top: 0;
}
.homepage .active .text h2 {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}
.homepage .active .text .time {
  padding-top: 1rem;
}
.homepage .active .text p {
  padding-top: 1rem;
}
.homepage .active .text .optional {
  display: block;
}
.homepage #news_03:hover ~ #footer {
  display: none;
}

#about_us {
  padding: 2.8rem 2.8rem2 0.8rem calc(8vh + 2.8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  overflow: auto;
}
#about_us #info {
  margin: 5rem;
  flex: 8 1 30rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
#about_us #info h1 {
  padding: 1.5rem 2rem 0 2rem;
  font-size: 8rem;
  line-height: 7rem;
}
#about_us #info p {
  padding-left: 2rem;
  margin-top: 0.5rem;
}
#about_us #info .split {
  margin-top: 4rem;
}
#about_us #info .time {
  font-size: 2rem;
  margin-top: 0;
}
#about_us #info .contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
#about_us #info .contact img {
  margin-right: 1rem;
}
#about_us #groupPhoto {
  margin: 5rem;
  flex: 4 1 30rem;
  max-width: 45rem;
  aspect-ratio: 492/671;
  will-change: transform;
  position: relative;
  perspective: 1000px;
  background-image: url("../images/groupPhoto.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
}
#about_us #groupPhoto #mask {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  will-change: transform;
}

/*
@import "outputs_page";
@import "members_page";
@import "enrollment_page";
*/
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadein {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
}

/*
@media only screen and (max-width: 800px) {
  #about_us{
    overflow: scroll;
  }
}
*//*# sourceMappingURL=style.css.map */