$header1: 2.5rem;
$header2: 3rem;
$header3: 2rem;
$text: 1.5rem;

$gradient: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);

$color1: #212121;
$color2: #B71C1C;
$color3: #F7F7F7;
$color4: #E8F5E9;

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
  }

@import "fonts";

@import "global";
@import "home_page";
@import "aboutus_page";
/*
@import "outputs_page";
@import "members_page";
@import "enrollment_page";
*/

//浮入动画会与透视动画冲突，不要一起用
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadein {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
}

//响应性

@media only screen and (max-width: 780px) {
  nav{
    ul{
      font-size: 0.1rem;
    }
  }
  .active{
    order: 4;
  }
  #about_us{
    #groupPhoto{
      margin: 10rem 5rem;
    }
  }
}