$header1: 2.5rem;
$header2: 3rem;
$header3: 2rem;
$text: 1.5rem;

$gradient: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);

$color1: #212121;
$color2: #B71C1C;
$color3: #F7F7F7;
$color4: #E8F5E9;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@mixin normal-box(){
  transition: all 0.2s ease-in-out;
  background-color: rgba(247, 247, 247, 0.2);
  box-shadow: 0 0 6rem rgba(0,0,0,0.1);
  outline: 0.1rem solid white;
  outline-offset: -0.1rem;
}
@mixin hover-box(){
  background-color: rgba(247, 247, 247, 0.6);
  outline: 0.3rem solid $color2;
  outline-offset: -0.3rem;
  box-shadow: 0 0 8rem rgba(0,0,0,0.2);
  backdrop-filter: blur(0.2rem);
}

@import "fonts";

@import "global";
@import "home_page";
@import "aboutus_page";
@import "outputs_page";
/*
@import "outputs_page";
@import "members_page";
@import "enrollment_page";
*/

//浮入动画会与透视动画冲突，不要一起用
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadein {
  opacity: 0;
}
.fadein.start {
  animation: fadeInUp 0.8s ease-out forwards;
}
//响应性

@media only screen and (max-width: 850px) {
  .side_bar{
    visibility: hidden;
  }
  nav{
    max-height: none;
    ul{
      li{
        padding:0;
        margin:0 0.5rem;
      }
      li#current::before{
        background: none;
      }
    }
  }
  .container .content{
    justify-content: center;
    padding: 2.8rem;
  }
  footer{
    background-color: $color3;
    position: static;
    flex-wrap: wrap;
    height: auto;
    img{
      flex: 0 1 1rem;
      align-items: center;
    }
    p{
      flex: 1 1 1000rem;
      border-left: none;
      padding: 1rem 0 2rem 0;
    }
  }

  //homepage
  .homepage{
    .news{
      flex: 0 0 90vw;
      margin: 0;
      .img{
        height: 30vh;
        img{
          height: 100%;
        }
      }
      .img::after, .img::before{
        opacity: 0;
      }
    }
    .active{
      flex: 0 0 90vw;
      .text{
        margin: 1rem 0 4rem 0;
        padding: 2rem 0 0 1rem;
        width: 100%;
        border-left: 2px solid $color2;
        h2{
            font-size: 1.25rem;
            font-weight: normal;
        }
        .optional{
            display: none;
        }
      }
    }
  }

  //aboutus
  #about_us{
    #groupPhoto{
      margin: 1rem;
    }
    #info{
      margin: 1rem 0;
    }
  }

  // outputs
.articleBoxWithFigures{
  flex-direction: column;
}
.articleBox{
  width: 100%;
}
.figures{
  width: 100%;
  height: 15vh;
  margin: 1rem 0;
  @include flex(space-between, flex-start, row);
  flex-wrap: nowrap;
  img{
    width: auto;
    height: 100%;
    object-fit: cover;
    max-width: none;
    flex: 1;
  }
}
}